@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    margin: 0;
}
.navbar
{
    width: 100vw;
    height: 25vh;
    background-color: rgb(32, 168, 32);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.letters
{
    padding-top: -3vh;
}
.div2
{
    width: 100vw;
    height: 10vh;
    margin-top: 3vh;
}
.text
{
    color: rgb(177, 0, 0);
    text-decoration: underline;
    font-weight: bolder;
    text-decoration-thickness: 3px;
    text-decoration-color: black;
    padding: 30px 0px 0px 20px;
}
.pic
{
    display: flex;
    height: 30vh;
    align-items: center;
    padding-left: 20px;
}
img
{
    margin-left: 100px;
}
.logo
{
    margin: 0;
}
.top
{
    width: 10vw;
    height: 10vh;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: red;
    color: white;
    position:fixed;
    right:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgb(177, 0, 0);
    text-shadow: 2px 2px 10px gray;
    font-family: Roboto;
    font-size: 50%;
    min-width: 600px;
}
.top:hover{
    background-color: rgb(253, 67, 67);
}
a:visited
{
    color: blue;
}
a
{
    font-size: 25px;
}
#a
{
    background-color: aqua;
}
#b
{
    background-color: blue;
}
#c
{
    background-color: pink;
}
#d
{
    background-color: yellow;
}
#e
{
    background-color: yellowgreen;
}
#f
{
    background-color: gainsboro;
}
#g
{
    background-color: purple;
}
#h
{
    background-color: gold;
}
#i
{
    background-color: green;
}
#j
{
    background-color: teal;
}
#k
{
    background-color: olive;
}
#l
{
    background-color: orange;
}
#m
{
    background-color: orangered;
}
#n
{
    background-color: sienna;
}
#o
{
    background-color: seagreen;
}
#p
{
    background-color: sandybrown;
}
#q
{
    background-color: darkcyan;
}
#r
{
    background-color: dodgerblue;
}
#s
{
    background-color: lawngreen;
}
#t
{
    background-color: chocolate;
}
#u
{
    background-color: violet;
}
#v
{
    background-color: aquamarine;
}
#w
{
    background-color: mediumseagreen;
}
#x
{
    background-color: indigo;
}
#y
{
    background-color: orchid;
}
#z
{
    background-color: gray;
}